p{
	margin:0;
}
.form-control{
 border-width: 1px;
}
.bg-gray{
<<<<<<< HEAD
	border-radius: 5px;
	background-color:#F5F5F5;
=======
	border-radius: 10px;
	background-color: #f5f5f5;
>>>>>>> 2019-1-8-8-52-lzy
	padding: 20px;
	border: 2px solid white;
}

.left-button{
	width: 100%;
}
.title{
	font-weight: bold;
}
.inputbar{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.convolution{
	float: left !important;
	padding: 5px;
}
.convolution>input{
	border-radius: 5px !important; 
	text-align:center;
	height: 27px;
	padding: 0;
}
.tip{
	font-size: 14px;
	text-align: center;
}
.multiple{
	text-align: center;
	padding: 0;
	margin-top: 25px;
}
.multiple>span{
	font-weight: bold;
	font-size: 30px;
}
.sprit{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding: 5px;
	margin-top: 20px;
}
.convout{
	padding-bottom: 5px;
}
.panel1{
	padding-top: 7px;
	margin-bottom: 0;
}
.common{
	font-size: 15px;
	margin-bottom: 10px;
}
.pad-default{
	padding: 0;
}
.comcolor{
	color: #34495e;
	font-weight: 600;
}
.mtop{
	margin-top: 5px;
}
.mar{
	margin-top: 5px !important;
}
.pool{
	height: 28px;
}
.active{
	margin-top:5px;
}
.acpanel
{
	height: 40px;
}
.inner{
	width: 70%;
 	margin: 0 auto;
}
.square{
	padding: 10px;
 	background-color: #1abc9c;
 	text-align: center;
 	border-radius: 10px;
 }
 .square>span{
 	color: white;
	font-weight: 600;
 }

 .arrow>img{
 	display: inline-block;
 }
 .taginfo{
 	margin-top: 10px;
 	padding-left: 0;
 }
 .draggable {
    width: 100px;
    height: 40px;
    border: 1px solid #adadad;
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
}
.gpanel{
	margin-top: 10px;
	margin-right: 0;
	margin-left: 0;
	width:100%;
	height: 500px; 
	position: relative;
	background-position: 50% 0, 50% 0;
   	background-size: 30px 30px, 30px 30px; 
   	background-color: #ffffff; 
   	background-image: linear-gradient(#dcd9d9,#dcd9d9 1px,transparent 1px,transparent 10px,#dcd9d9 10px,#dcd9d9 11px,transparent 11px,transparent 20px,#dcd9d9 20px,#dcd9d9 21px,transparent 21px),
   	linear-gradient(90deg,#dcd9d9,#dcd9d9 1px,transparent 1px,transparent 10px,#dcd9d9 10px,#dcd9d9 11px,transparent 11px,transparent 20px,#dcd9d9 20px,#dcd9d9 21px,transparent 21px); 

}
.right{
	float: right;
}
.left{
	float:left;
}

.pre-scrollable{
	max-height: 500px;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
#ControlDiv::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}
 
/*定义滚动条轨道 内阴影+圆角*/
#ControlDiv::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: white;
}
 
/*定义滑块 内阴影+圆角*/
#ControlDiv::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #bdc3c7;
}
.fc{
	padding:0;
}
.fc>input{
	border-radius: 5px !important;
	height: 32px;
	text-align:center;
	padding: 10px;
}

.left-pad{
	padding: 7px 10px;
    border-radius: 5px;
/*	border-top-left-radius:0;
	border-bottom-left-radius:0;*/
}
.arrowpanel1{
	margin-top: 5px;
}
.detail-info>p:first-child{
	border-bottom: 1px solid #eae7e7;
}
.list-group-item{
	background-color: #F5F5F5;
	font-size: 15px;
	border: none;
}
.list-group{
	margin-bottom: 0;
}
.detail{
	font-size: 15px;
}
.detail-info{
	padding:10px 15px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	display: none;
}
.mmtop{
	margin-top: 50px;
}
.mmtop1{
	margin-top: 56px;
}
.form-group{
	margin-bottom: 0;
}
.triangle{
    display: inline-block;
    margin: 0;
    font-size: 18px;
    width: 10px;
}
.fui-triangle-left-small:before {
    content: "\e604";
}
.bg-black{
	background-color: #34495e;
	color: white;
}
.title1{
	font-size: 13px;
}
.height1{
	height: 175px;
	margin-top: 56px;
}
.height2,.height3,.height4,.height5{
	height: 76px;
}