<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CNN-CodeGenerator</title>
	
	<!-- Loading bootstrap -->
	<link type="text/css" href="/static/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
	
    <!-- Loading Flat UI -->
    <link href="/static/dist/css/flat-ui.css" rel="stylesheet">
	
	<!-- Loading mycss -->
	<link href="/static/css/index.css" rel="stylesheet">
	<script type="text/javascript" src="/static/lib/js/jquery.min.js"></script> 
	<script type="text/javascript" src="/static/dist/js/flat-ui.min.js"></script> 
	<script src="/static/lib/js/jquery-ui.js"></script>
	<script src="/static/js/graph.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom:15px;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#">CNN-Code</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
    
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container-fluid">
		<div class="row">
		    <div class="col-md-4">
		   		<div class="bg-gray">
		   			<div class="row">
		   				<div class="col-md-12">
		   					<div class="col-md-4 pad-default">
		   					<p class="title">零填充</p>
			   				</div>
			   				<div class="col-md-4">
			   					<input type="checkbox" checked data-toggle="switch" id="custom-switch-01" />
			   				</div>
		   				</div>
		   			</div>
		        </div>

		   		<div class="bg-gray mtop">
		   			<p class="title">卷积核</p>
					<form class="row" action="" style="padding:0">
						<div class="form-group col-md-12 panel1">
							<div class="input-group col-md-2 convolution">
		              			<input type="email" class="form-control" placeholder="L">
				            </div>
				            <div class="col-md-1 multiple"><span>*</span></div>
				            <div class="input-group col-md-2 convolution">
		              			<input type="email" class="form-control" placeholder=" W">
				            </div>
				            <div class="col-md-1 multiple"><span>*</span></div>
				            <div class="input-group col-md-2 convolution">
		              			<input type="email" class="form-control" placeholder="H">
				            </div>
				            <div class="col-md-1 sprit"><span>/</span></div>
				            <div class="input-group col-md-2 convolution">
		              			<input type="email" class="form-control" placeholder="S">
				            </div>
				        </div>
					</form>
					<p class="common">常用卷积核</p>
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-3 pad-default"><button type="button" class="btn btn-default btn-sm comcolor">3*12*12/1</button></div>
							<div class="col-md-1"></div>
							<div class="col-md-3 pad-default"><button type="button" class="btn btn-default btn-sm comcolor">3*12*12/1</button></div>
							<div class="col-md-1"></div>
							<div class="col-md-3 pad-default"><button type="button" class="btn btn-default btn-sm comcolor">3*12*12/1</button></div>
						</div>
					</div>
		   		</div>
					
				<div class="bg-gray mtop">
					<div class="row">
		   				<div class="col-md-12 pool">
		   					<div class="col-md-2 pad-default">
		   					<p class="title">池化</p>
			   				</div>
			   				<div class="col-md-10">
			   					<form class="row" role="form">
					            <div class="form-group col-md-12">
					              <label class="radio col-md-6 mar" for="radio100">
					                <input name="optionsRadios2" type="radio" data-toggle="radio" value="" id="radio100" required>
					                最大池化
					              </label>
					              <label class="radio col-md-6 mar" for="radio101">
					                <input name="optionsRadios2" type="radio" data-toggle="radio" value="" id="radio101" required checked>
					                平均池化
					              </label>
					            </div>
					          </form>
			   				</div>
		   				</div>
		   			</div>
				</div>
					
				<div class="bg-gray mtop">
					<div class="row">
						<div class="col-md-12 acpanel">
							<div class="col-md-3 pad-default">
								<p class="title active">激活函数</p>
							</div>
							<div class="form-group col-md-9 pad-default">
				              	<select data-toggle="select" class="form-control select select-default">
					                <option>sigmoid</option>
					                <option>relu</option>
					                <option>rrelu</option>
					                <option>tanh</option>
				              	</select>
				            </div>
						</div>
					</div>
		        </div>
		        <div class="bg-gray mtop">
					<div class="row">
						<div class="col-md-12">
						  	 <a class="btn btn-lg btn-primary left-button" role="button">Start Generate</a>
						</div>
					</div>
		        </div>
			</div>
			<div class="col-md-8">
				<div>
		            <div>
		                <input type="button" value="添加节点" class="btn btn-success" onclick="DrawJd()" />
		                <input type="button" value="添加连接线" class="btn btn-info" onclick="DrawHX()" />
		                <input type="button" value="移除连接线" class="btn btn-warning" id="removeLine" style="display: none;" onclick="DeleteHX()" />
		                <input type="button" value="移除节点" class="btn btn-primary" id="removeJd" style="display: none;" onclick="DeleteJD()" />
		            </div>
		            <div id="ControlDiv" class="gpanel">
		                <svg width="100%" height="500">
		                    <defs>
		                        <marker id="arrow" markerWidth="10" markerHeight="10" refx="0" refy="3" orient="auto" markerUnits="strokeWidth" viewBox="0 0 20 20">
		                            <path d="M0,0 L0,6 L9,3 z" fill="#f00" />
		                        </marker>
		                    </defs>
		                    <g id="svgContext"></g>
		                </svg>
		            </div>
		        </div>
			</div>
			<div style="float: left; display:none">
	            <div style="margin-left: 10px; margin-top: 40px;">
	                <div style="border: 1px solid #adadad; width: 250px; height: 175px;">
	                    <div style="margin-top: 8px; margin-left: 20px;">流程名称：<input id="lcName" type="text" /></div>
	                    <div style="margin-top: 8px; margin-left: 20px;">流程描述：<textarea id="lcDes" style="height: 50px;"></textarea></div>
	                    <div style="margin-top: 8px; margin-left: 20px;">流程标识：<input id="lcTag" type="text" disabled /></div>
	                    <div style="margin-top: 8px; margin-left: 20px;">主流标识：<input id="lczlTag" type="text" disabled /></div>
	                    <div style="margin-top: 8px; margin-left: 20px;">是否可用：<input id="lcEn" type="checkbox" /></div>
	                </div>
	            </div>
	            <div style="margin-left: 10px; margin-top: 8px;">
	                <div style="border: 1px solid #adadad; width: 250px; height: 205px;">
	                    <div style="margin-top: 8px; margin-left: 20px;">节点名称：<input id="jdName" type="text" onchange="jdNameChange()" /></div>
	                    <div style="margin-top: 8px; margin-left: 20px;">节点描述：<textarea id="jdDes" style="height: 50px;" onchange="jdDesChange()"></textarea></div>
	                    <div style="margin-top: 8px; margin-left: 20px;">是否可用：<input id="jdEn" type="checkbox" onchange="jdEnChange()" /></div>
	                    <div style="margin-top: 8px; margin-left: 20px;">节点标识：<input id="jdTag" type="text" disabled /></div>
	                    <div style="margin-top: 8px; margin-left: 20px;">背景颜色：<input type="button" value="设置颜色" /></div>
	                    <div style="margin-top: 8px; margin-left: 20px;">节点身份：<input type="button" value="操作身份" /></div>
	                </div>
	            </div>
	            <div style="margin-left: 10px; margin-top: 8px;">
	                <div style="border: 1px solid #adadad; width: 250px; height: 200px;">
	                    <div style="margin-top: 8px; margin-left: 20px;">连线名称：<input id="lineName" type="text" onchange="lineNameChange()" /></div>
	                    <div style="margin-top: 8px; margin-left: 20px;">连线描述：<textarea id="lineDes" style="height: 50px;" onchange="lineDesChange()"></textarea></div>
	                    <div style="margin-top: 8px; margin-left: 20px;">连线标识：<input id="lineTag" type="text" disabled /></div>
	                    <div style="margin-top: 8px; margin-left: 20px;">设置颜色：<input type="button" value="设置颜色" /></div>
	                    <div style="margin-top: 8px; margin-left: 20px;">通过条件：<input type="button" value="设置条件" onclick="Save()" /></div>
	                </div>
	            </div>
       		</div>
		   
		</div>
		   
	</div>
	

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	

    <script src="/static/lib/js/application.js"></script>
   
   	<script src="/static/js/index.js"></script>

  
</body>
</html>


 <!--<div class="col-md-8">
		    	<div class="inner row">
		    		<div class="square col-md-12">
			         	<span>3</span> 
			         	<span>*</span> 
			         	<span>12</span> 
			         	<span>*</span> 
			         	<span>12</span> 
			        </div>
			        <div class="arrow">
			         	<div class="col-md-2">
			         		<img src="/static/img/arrowdown.png">
			         	</div>
						<div class="col-md-9 mtl taginfo">
				          	 <input name="tagsinput-01" class="tagsinput" value="Clean, Fresh, Modern" />
				         </div>
			        </div>
			        <div class="square col-md-12">
			         	<span>3</span> 
			         	<span>*</span> 
			         	<span>12</span> 
			         	<span>*</span> 
			         	<span>12</span> 
			        </div>
			        <div class="arrow">
			         	<div class="col-md-2">
			         		<img src="/static/img/arrowdown.png">
			         	</div>
						<div class="col-md-9 mtl taginfo">
				          	 <input name="tagsinput-01" class="tagsinput" value="Clean, Fresh, Modern" />
				         </div>
			        </div>
			        <div class="square col-md-12">
			         	<span>3</span> 
			         	<span>*</span> 
			         	<span>12</span> 
			         	<span>*</span> 
			         	<span>12</span> 
			        </div>
			        <div class="arrow">
			         	<div class="col-md-2">
			         		<img src="/static/img/arrowdown.png">
			         	</div>
						<div class="col-md-9 mtl taginfo">
				          	 <input name="tagsinput-01" class="tagsinput" value="Clean, Fresh, Modern" />
				         </div>
			        </div>
			        <div class="square col-md-12">
			         	<span>3</span> 
			         	<span>*</span> 
			         	<span>12</span> 
			         	<span>*</span> 
			         	<span>12</span> 
			        </div>
			        <div class="arrow">
			         	<div class="col-md-2" style="padding-right:0;">
			         		<img src="/static/img/arrowdown.png">
			         	</div>
						<div class="col-md-9 mtl taginfo">
				          	 <input name="tagsinput-01" class="tagsinput" value="Clean, Fresh, Modern" />
				         </div>
			        </div>
			        <div class="square col-md-12">
			         	<span>3</span> 
			         	<span>*</span> 
			         	<span>12</span> 
			         	<span>*</span> 
			         	<span>12</span> 
			        </div>
					
		    	</div>
		    </div>    -->